mat-list-item:nth-child(odd){
    background-color: rgb(223, 255, 243);
}
#title {
    font-weight: bold;
    min-width: 15%;
}

#name { 
    min-width: 15%;
}
.bookButons {
    position: absolute;
    right: 1%;
}
.addButton {
    margin: 0px 20px;
    width: 10%;
}